<?xml version="1.0" encoding="utf-8"?>
<!--
  Code-Room Web Forms migration - Phase 2 foundation.
  Database: Microsoft SQL Server (connection string name: DefaultConnection).
  No credentials are committed here; override per environment.
-->
<configuration>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="AssetVersion" value="1" />
  </appSettings>

  <connectionStrings>
    <!--
      Local development default: the SQL Server Express named instance detected on this
      machine (MSSQL$SQLEXPRESS, SQL Server 2025 Express). Integrated Security only -
      no credentials are stored in this file.
    -->
    <add name="DefaultConnection"
         connectionString="Server=.\SQLEXPRESS;Database=CodeRoomDb;Integrated Security=True;Connect Timeout=30;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
    <!--
      Alternative for a LocalDB installation:
      <add name="DefaultConnection"
           connectionString="Server=(LocalDB)\MSSQLLocalDB;Database=CodeRoomDb;Integrated Security=True;Connect Timeout=30;MultipleActiveResultSets=True"
           providerName="System.Data.SqlClient" />
    -->
  </connectionStrings>

  <system.web>

    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>

    <httpRuntime targetFramework="4.7.2" maxRequestLength="4096" enableVersionHeader="false" />

    <globalization culture="en-GB" uiCulture="en-GB" requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />

    <sessionState mode="InProc" timeout="120" cookieless="UseCookies" cookieName="CodeRoomSession" cookieHttpOnly="true" regenerateExpiredSessionId="true" />

    <authentication mode="Forms">
      <forms loginUrl="~/Authentication/Login.aspx"
             name="CodeRoomAuth"
             timeout="10080"
             slidingExpiration="true"
             cookieless="UseCookies"
             protection="All"
             httpOnlyCookies="true"
             requireSSL="false" />
    </authentication>

    <authorization>
      <allow users="*" />
    </authorization>

    <customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx">
      <error statusCode="403" redirect="~/Authentication/AccessDenied.aspx" />
      <error statusCode="404" redirect="~/Error.aspx" />
    </customErrors>

    <pages maintainScrollPositionOnPostBack="true" viewStateEncryptionMode="Always" enableEventValidation="true" />

    <trace enabled="false" pageOutput="false" />

  </system.web>

  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

</configuration>
